<form #form="ngForm" (submit)="guardarPropiedad(form)"  class="grid grid-cols-6 grid-rows-6 gap-2 py-8 px-4">
  <h1 class="col-span-6 text-center font-bold text-xl ">Registro de Propiedad</h1>
  <!-- Nombre de la propiedad -->
  <mat-form-field class="col-span-4 row-auto">
    <mat-label>Nombre de la propiedad</mat-label>
    <input matInput #nombre="ngModel" [(ngModel)]="property.nombre" type="text" id="nombre" name="nombre" pattern="[a-zA-Z]{4,50}" required>
    <mat-error *ngIf="nombre.errors">Por favor, ingresa un nombre válido.</mat-error>
  </mat-form-field>
  
  <!-- Descripción -->
  <mat-form-field class="col-span-6 row-span-2">
    <mat-label>Descripción</mat-label>
    <input matInput #descripcion="ngModel"  [(ngModel)]="property.descripcion" type="text" id="descripcion" pattern="[a-zA-Z0-9\s]{15,250}" name="descripcion">
    <mat-error *ngIf="descripcion.errors">Por favor, ingresa una descripción válida.</mat-error>
  </mat-form-field>

  <!-- Precio -->
  <mat-form-field class="col-span-3">
    <mat-label>Precio</mat-label>
    <input matInput #precio="ngModel" [(ngModel)]="property.precio" type="number" id="precio" name="precio"  required>
    <mat-error *ngIf="precio.errors">Por favor, ingresa un precio válido.</mat-error>
  </mat-form-field>

  <!-- Tamaño (m²) -->
  <mat-form-field class="col-span-3">
    <mat-label>Tamaño (m²)</mat-label>
    <input matInput #tamano="ngModel" [(ngModel)]="property.tamano" type="number" id="tamano" name="tamano" required>
    <mat-error *ngIf="tamano.errors">Por favor, ingresa un tamaño válido.</mat-error>
  </mat-form-field>

  <!-- Número de habitaciones -->
  <mat-form-field class="col-span-2">
    <mat-label>Número de habitaciones</mat-label>
    <input matInput #numHabitaciones="ngModel" [(ngModel)]="property.numHabitaciones" type="number" id="numHabitaciones" name="numHabitaciones" required>
    <mat-error *ngIf="numHabitaciones.errors">Por favor, ingresa un número de habitaciones válido.</mat-error>
  </mat-form-field>

  <!-- Número de baños -->
  <mat-form-field class="col-span-2">
    <mat-label>Número de baños</mat-label>
    <input matInput #numBanos="ngModel" [(ngModel)]="property.numBanos" type="number" id="numBanos" name="numBanos" required>
    <mat-error *ngIf="numBanos.errors">Por favor, ingresa un número de baños válido.</mat-error>
  </mat-form-field>

  <!-- Número de pisos -->
  <mat-form-field class="col-span-2">
    <mat-label>Número de pisos</mat-label>
    <input matInput [(ngModel)]="property.numPisos" type="number" id="numPisos" name="numPisos" required>
  </mat-form-field>


  <!-- Antigüedad -->
  <mat-form-field class="col-span-4">
    <mat-label>Antigüedad</mat-label>
    <mat-select id="antiguedad" name="antiguedad" [(ngModel)]="property.antiguedad" required>
      <mat-option value="-5">-5 años</mat-option>
      <mat-option value="5-10">5 - 10 años</mat-option>
      <mat-option value="+10">+10 años</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Dirección -->
  <h1 class="col-span-6">Dirección</h1>
  <mat-form-field class="col-span-1">
    <mat-label>Estado</mat-label>
    <input matInput [(ngModel)]="property.estado" type="text" id="estado" name="estado" required>
  </mat-form-field>

  <mat-form-field class="col-span-1">
    <mat-label>Código Postal</mat-label>
    <input matInput [(ngModel)]="property.cp" type="text" id="cp" name="cp" required>
  </mat-form-field>

  <mat-form-field class="col-span-2">
    <mat-label>Localidad</mat-label>
    <input matInput [(ngModel)]="property.localidad" type="text" id="localidad" name="localidad" required>
  </mat-form-field>

  <mat-form-field class="col-span-2">
    <mat-label>Calle</mat-label>
    <input matInput [(ngModel)]="property.calle" type="text" id="calle" name="calle" required>
  </mat-form-field>

  <!-- Botón de envío -->
  <button mat-raised-button color="primary" type="submit" class="col-span-4" [disabled]="form.invalid">Enviar</button>
  <hr class="col-span-6">
  <pre class="col-span-6">
    {{property | json}}
  </pre>
</form>