<nav class="w-full flex justify-between bg-blue-400 p-3 ">
    <h1 class="font-extrabold text-2xl text-white">Property</h1>
    <ul class="flex gap-3">
        <li><button mat-raised-button routerLink="/" color="primary">Home</button></li>
        <li><button mat-raised-button routerLink="template" color="primary">Template Create</button></li>
        <li><button mat-raised-button routerLink="reactive" color="primary">Reactive Create</button></li>
    </ul>
</nav>