<div class="flex gap-2 items-center">
    <mat-icon>done</mat-icon>
    <p>Propiedad registrada correctamente</p>
    <button mat-raised-button color="primary" (click)="snackBarRef.dismissWithAction()">Cerrar</button>
</div>