<form [formGroup]="fProperty" (ngSubmit)="guardarPropiedad()" class="grid grid-cols-6 grid-rows-6 gap-2 py-8 px-4">
    <h1 class="col-span-6 text-center font-bold text-xl">Registro de Propiedad</h1>
  
    <!-- Nombre de la propiedad -->
    <mat-form-field class="col-span-4 row-auto">
      <mat-label>Nombre de la propiedad</mat-label>
      <input matInput formControlName="nombre" id="nombre" type="text">
      <mat-error *ngIf="fProperty.get('nombre')">Por favor, ingresa un nombre válido.</mat-error>
      <mat-error *ngIf="fProperty.get('nombre')">El nombre debe tener al menos 3 caracteres.</mat-error>
    </mat-form-field>
  
    <!-- Descripción -->
    <mat-form-field class="col-span-6 row-span-2">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="descripcion" id="descripcion" type="text">
      <mat-error *ngIf="fProperty.get('descripcion')">Por favor, ingresa una descripción válida.</mat-error>
    </mat-form-field>
  
    <!-- Precio -->
    <mat-form-field class="col-span-3">
      <mat-label>Precio</mat-label>
      <input matInput formControlName="precio" id="precio" type="number" required>
      <mat-error *ngIf="fProperty.get('precio')">Por favor, ingresa un precio válido.</mat-error>
    </mat-form-field>
  
    <!-- Tamaño (m²) -->
    <mat-form-field class="col-span-3">
      <mat-label>Tamaño (m²)</mat-label>
      <input matInput formControlName="tamano" id="tamano" type="number" required>
      <mat-error *ngIf="fProperty.get('tamano')">Por favor, ingresa un tamaño válido.</mat-error>
    </mat-form-field>
  
    <!-- Número de habitaciones -->
    <mat-form-field class="col-span-2">
      <mat-label>Número de habitaciones</mat-label>
      <input matInput formControlName="numHabitaciones" id="numHabitaciones" type="number" required>
      <mat-error *ngIf="fProperty.get('numHabitaciones')">Por favor, ingresa un número de habitaciones válido.</mat-error>
    </mat-form-field>
  
    <!-- Número de baños -->
    <mat-form-field class="col-span-2">
      <mat-label>Número de baños</mat-label>
      <input matInput formControlName="numBanos" id="numBanos" type="number" required>
      <mat-error *ngIf="fProperty.get('numBanos')">Por favor, ingresa un número de baños válido.</mat-error>
    </mat-form-field>
  
    <!-- Número de pisos -->
    <mat-form-field class="col-span-2">
      <mat-label>Número de pisos</mat-label>
      <input matInput formControlName="numPisos" id="numPisos" type="number">
    </mat-form-field>
  
    <!-- Antigüedad -->
    <mat-form-field class="col-span-4">
      <mat-label>Antigüedad</mat-label>
      <mat-select formControlName="antiguedad" id="antiguedad" required>
        <mat-option value="-5">-5 años</mat-option>
        <mat-option value="5-10">5 - 10 años</mat-option>
        <mat-option value="+10">+10 años</mat-option>
      </mat-select>
    </mat-form-field>
  
    <!-- Dirección -->
    <h1 class="col-span-6">Dirección</h1>
    <mat-form-field class="col-span-1">
      <mat-label>Estado</mat-label>
      <input matInput formControlName="estado" id="estado" type="text" required>
    </mat-form-field>
  
    <mat-form-field class="col-span-1">
      <mat-label>Código Postal</mat-label>
      <input matInput formControlName="cp" id="cp" type="text" required>
    </mat-form-field>
  
    <mat-form-field class="col-span-2">
      <mat-label>Localidad</mat-label>
      <input matInput formControlName="localidad" id="localidad" type="text" required>
    </mat-form-field>
  
    <mat-form-field class="col-span-2">
      <mat-label>Calle</mat-label>
      <input matInput formControlName="calle" id="calle" type="text" required>
    </mat-form-field>
  
    <!-- Botón de envío -->
    <button mat-raised-button color="primary" type="submit" class="col-span-2" [disabled]="fProperty.invalid">
      <mat-icon>save</mat-icon>
      Guardar
    </button>
    <button mat-raised-button color="accent" (click)="limpiarFormulario()" class="col-span-2" >
      <mat-icon>cleaning_services</mat-icon>
      Limpiar
    </button>
    <hr class="col-span-6">
    <pre class="col-span-6">
      {{ fProperty.value | json }}
    </pre>
  </form>
  